<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDSMobileApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>49</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63B87D9BF61B261A8BAF909F5BBF59A3C8D45A24</string>
				<key>dateExpires</key>
				<string>6/26/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C9JBF8A6KB.com.bosch.tt.easyair</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>C9JBF8A6KB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>IDSMobileApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>695ba507-381e-44c3-963e-988b2c8295db</string>
				<key>dateExpires</key>
				<string>6/26/24</string>
				<key>name</key>
				<string>Bosch EasyAir - Distribution</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C9JBF8A6KB</string>
				<key>name</key>
				<string>Bosch Thermotechnik GmbH</string>
			</dict>
			<key>versionNumber</key>
			<string>12</string>
		</dict>
	</array>
</dict>
</plist>
