<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646675114354-bt4cn7oh6qv8hmkupvn34mf67jq0321q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>om.googleusercontent.apps.646675114354-bt4cn7oh6qv8hmkupvn34mf67jq0321q</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Rwa8gcW8fcKhTozPeJITGTa71pQGR6E</string>
	<key>GCM_SENDER_ID</key>
	<string>646675114354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bosch.tt.easyair</string>
	<key>PROJECT_ID</key>
	<string>ids-dev-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>ids-dev-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:646675114354:ios:d33b7ce80abb6197d615eb</string>
</dict>
</plist>
